[submodule "source/daspk/private"]
	path = source/daspk/private
	url = ssh://rainier.mit.edu/home/git/daspk_private.git
[submodule "source/MoleCoor"]
	path = source/MoleCoor
	url = git://github.com/gmagoon/MoleCoor.git
[submodule "source/CanTherm"]
	path = source/CanTherm
	url = git://github.com/gmagoon/CanTherm.git
