###############################################################################
#
#	File patterns for git to ignore
#
###############################################################################

# Compiled binaries
bin/*

# Temporary intermediate files
build/*
# ..and on Windows:
*.mod

# Generated RMG output for examples
examples/*
!examples/*/condition.txt

# NetBeans project files
netbeans/*

# Folder in which to run RMG
run/*

# Output of documentation generation
web/build/*

# Compiled python files
*.pyc