###############################################################################
#
#	File patterns for git to ignore
#
###############################################################################

# Compiled binaries
bin/*

# Temporary intermediate files
build/*

# Generated RMG output for examples
examples/*
!examples/*/condition.txt

# NetBeans project files
netbeans/*

# Folder in which to run RMG
run/*

#compiled Fortran modules in fame and frankie source directories
source/fame/*.mod
source/frankie/*.mod