###############################################################################
#
#	File patterns for git to ignore
#
###############################################################################

# Compiled binaries
bin/*

# Temporary intermediate files
build/*

