{% extends "layout.html" %}

{%- set customsidebar = 'homepageSidebarContent.html' %}

{%- block extrahead %} 
{{ super() }}
<link rel="stylesheet" href="{{ pathto('_static/' + 'RMG-homepage.css', 1) }}" type="text/css" />
{% endblock %}


{%- block relbar1 %}{{ relbar() }}{% endblock %}
{%- block relbar2 %}{{ relbar() }}{% endblock %}

{%- block sidebartoc %}{%- endblock %}
{%- block sidebarrel %}{%- endblock %}

{#%- block sidebar1 %}{% endblock %}
{%- block sidebar2 %}{% endblock %#}

{% block body %}


  <div class="section" id="rmg-reaction-mechanism-generator">
<h1>RMG - Reaction Mechanism Generator<a class="headerlink" href="#rmg-reaction-mechanism-generator" title="Permalink to this headline">¶</a></h1>

<p><strong>Welcome to the RMG home page!</strong></p>
<p>RMG is an automatic chemical reaction mechanism generator that constructs
mechanisms composed of elementary chemical reaction steps using a general understanding of how hydrocarbons react.</p>


<img id="fluxdiagram" src="{{ pathto('_static/images/HXD13flux-small.png', 1) }}" />



<div class="section" id="sitemap">
	<table class="sitemap" >
		<tr>
			<td >
				<h3>
					About RMG
				</h3>
				<ul>
					<li class="toctree-l1">
						<a class="reference external" href="features.html">Features</a>
					</li>
					<li class="toctree-l1">
						<a class="reference external" href="newusers.html">New Users</a>
					</li>
					<li class="toctree-l1">
						<a class="reference external" href="news.html">News and Updates</a>
					</li>
				</ul>
			</td>
			<td >
				<h3>
					Getting RMG
				</h3>
				<ul>
					<li class="toctree-l1">
						<a class="reference external" href="license.html">License</a>
					</li>
					<li class="toctree-l1">
						<a class="reference external" href="download.html">Download</a>
					</li>
				</ul>
			</td>
			<td >
				<h3>
					Using RMG
				</h3>
				<ul>
					<li class="toctree-l1">
						<a class="reference external" href="documentation/index.html">Online documentation</a>
					</li>
					<li>
						<a href="{{pathto('RMG-manual.pdf', 1)}}">User manual PDF</a>
					</li>
				</ul>
			</td>
		</tr>
	</table>
</div>





<p>The main RMG code is written in Java. A number of computationally intensive tasks have been written in Fortran.</p>
<p>RMG is free, open-source software available under the terms of the <a class="reference external" href="license.html">MIT/X11 License</a>. The software is developed in the William H. Green research group in the Department of Chemical Engineering at MIT.</p>
<img src="{{ pathto('_static/images/mit-redgrey-header1.gif', 1) }}" />

<p>If you are new to RMG, please see <a class="reference external" href="newusers.html">this page</a>.</p>


<h3>Mailing list</h3>
Subscribe to rmg-users mailing list.
<FORM Method=POST ACTION="https://lists.sourceforge.net/lists/subscribe/rmg-users">
<INPUT type="Text" name="email" size="30" value="" placeholder="email address">
<INPUT type="Submit" name="email-button" value="Subscribe">
</FORM>
	


<div class="section" id="contact">
<h2>Contact<a class="headerlink" href="#contact" title="Permalink to this headline">¶</a></h2>
<p>Project Supervisor: Prof. William H. Green (<a class="reference external" href="mailto:whgreen&#37;&#52;&#48;mit&#46;edu">whgreen<span>&#64;</span>mit<span>&#46;</span>edu</a>)</p>
<p>Active Development Team: <a class="reference external" href="mailto:rmg_dev&#37;&#52;&#48;mit&#46;edu">rmg_dev<span>&#64;</span>mit<span>&#46;</span>edu</a></p>
</div>
<div class="section" id="links">
<h2>Links<a class="headerlink" href="#links" title="Permalink to this headline">¶</a></h2>
<p><a class="reference external" href="http://sourceforge.net/projects/rmg/">RMG on Sourceforge</a></p>
<p><a class="reference external" href="http://primekinetics.org/">PrIMe - Process Informatics Model</a></p>
</div>
</div>



<h3>Search</h3>

<form class="search" action="{{ pathto('search') }}" method="get">
  <input type="text" name="q" size="18" /> <input type="submit" value="{{ _('Go') }}" />
  <input type="hidden" name="check_keywords" value="yes" />
  <input type="hidden" name="area" value="default" />
</form>

{% endblock %}











{# %- block footer %}{%- endblock % #}