{% extends "!layout.html" %}

{%- block relbaritems %}
  {%- if current_page_name != 'index' %}
  <li><a href="{{ pathto(current_page_name) }}">{{ title }}</a></li>
  {%- endif %}
{% endblock %}

{%- set customsidebar = 'commonSidebarContent.html' %}

{%- block extrahead %} 
{{ super() }}
<link rel="stylesheet" href="{{ pathto('_static/' + 'RMG.css', 1) }}" type="text/css" />
{% endblock %}

{#{% block rootrellink %}
    <li><a href="http://sourceforge.net/projects/rmg/">Sourceforge Project</a> &raquo;</li>
	<li><a href="http://sourceforge.net/project/showfiles.php?group_id=191843">Download RMG</a> &raquo;</li>
	<li><a href="{{pathto('RMG-manual.pdf', 1)}}">User manual as PDF</a> &raquo;</li>
    {{ super() }}  
{% endblock %}
#}
